<div class="main">
  <div class="title">
    <h2 style="background-color: #2BB9A2; color: white; padding: 8px; border-radius: 10px;">Public Safety</h2>
  </div>
  <div class="container2">
    <div class="police">
      <h3>Police Stations</h3>
      <div class="section">
        <div class="bar2"> 
          <h5 style="color: beige;font-weight: 450;margin: 0;">Urban Police Station</h5>
          <a href="https://maps.app.goo.gl/V5qvbYqz3mDAmtAWA" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
        </div>
        <div id="block-views-highlights-block" style="display: flex;">
          <div class="col-md-6 col-lg-4">
            <h2 class="block__title block-title" >Key Contacts » </h2>
          </div>
          <div class="col-md-2 col-lg-4">
            <h5 style="margin-bottom: 5px; margin-top: 10px;">Chief Inspector:</h5>
            <p style="margin: 0px;">Name: Sk.Rafani</p>
            <p>Contact: 6345688666</p>
          </div>
          <div class="col-md-2 col-lg-4">
            <h5 style="margin-bottom: 5px; margin-top: 10px;">Sub Inspector:</h5>
            <p style="margin: 0px;">Name: Prasad</p>
            <p>Contact: 6345688666</p>
          </div>
        </div>

        <div class="bar2"> 
          <h5 style="color: beige;font-weight: 450;margin: 0;">Rural Police Station</h5>
          <a href="https://maps.app.goo.gl/GPPxXyN3rZ3HPGLFA" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
        </div>
        <div id="block-views-highlights-block" style="display: flex;">
          <div class="col-md-6 col-lg-4">
            <h2 class="block__title block-title" >Key Contacts » </h2>
          </div>
          <div class="col-md-2 col-lg-4">
            <h5 style="margin-bottom: 5px; margin-top: 10px;">Chief Inspector:</h5>
            <p style="margin: 0px;">Name: Sk.Rafani</p>
            <p>Contact: 6345688666</p>
          </div>
          <div class="col-md-2 col-lg-4">
            <h5 style="margin-bottom: 5px; margin-top: 10px;">Sub Inspector:</h5>
            <p style="margin: 0px;">Name: Prasad</p>
            <p>Contact: 6345688666</p>
          </div>
        </div>
        <section class="emergency-number" style="background-color: #685f10;">
          <div class="bar"> <strong class="number">112</strong> <span style="color: white">Dial this Number in Case of Emergency</span> </div>
        </section>
        <!-- CARDS -->
        <div class="section">
          <div class="cards-container">
              <div class="card">
                  <img src="assets/P1.png" class="card-icon">
                  <div class="card-title">View FIR</div>
              </div>
              <div class="card">
                  <img src="assets/P2.png" class="card-icon">
                  <div class="card-title">Know Your <br>Case Status</div>
              </div>
              <div class="card">
                  <img src="assets/P3.png" class="card-icon">
                  <div class="card-title">Download Forms</div>
              </div>
              <div class="card">
                  <img src="assets/P4.png" class="card-icon">
                  <div class="card-title">E Challana Status</div>
              </div>
          </div>
        </div>

        

      </div>
    </div>
    <div class="fire">
      <h3>Fire Station</h3>
      <div class="bar2"> 
        <h5 style="color: beige;font-weight: 450;margin: 0;">Fire Station</h5>
        <a href="https://maps.app.goo.gl/8R3L9BPREYuc1WcHA" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
      </div>
      <div id="block-views-highlights-block" style="display: flex;">
        <div class="col-md-6 col-lg-4">
          <h2 class="block__title block-title" >Key Contacts » </h2>
        </div>
        <div class="col-md-2 col-lg-4">
          <h5 style="margin-bottom: 5px; margin-top: 10px;">Chief Inspector:</h5>
          <p style="margin: 0px;">Name: Sk.Rafani</p>
          <p>Contact: 6345688666</p>
        </div>
        <div class="col-md-2 col-lg-4">
          <h5 style="margin-bottom: 5px; margin-top: 10px;">Sub Inspector:</h5>
          <p style="margin: 0px;">Name: Prasad</p>
          <p>Contact: 6345688666</p>
        </div>
      </div>
      <section class="emergency-number" style="background-color: red;">
        <div class="bar"> <strong class="number">101</strong> <span style="color: white">Dial this Number in Case of Emergency</span> </div>
      </section>
      <!-- CARDS -->
      <div class="section">
        <div class="cards-container">
            <div class="card">
                <img src="assets/F1.png" class="card-icon">
                <div class="card-title">Fire Fighting</div>
            </div>
            <div class="card">
                <img src="assets/F2.png" class="card-icon">
                <div class="card-title">Rescue Services</div>
            </div>
            <div class="card">
                <img src="assets/F3.png" class="card-icon" style="">
                <div class="card-title">Community Safety</div>
            </div>
            <div class="card">
                <img src="assets/F4.png" class="card-icon">
                <div class="card-title">Standby<br>Arrangements</div>
            </div>
        </div>
      </div>

      <br>

        <div class="col-md-12 col-xs-12" id="dvTable">
          <div class="service-item">
            <a href="https://apdept.meeseva.gov.in/ImeeSeva2/Application%20Forms%20New/Police-pdf/Fresh%20or%20Renewal%20License%20Application.pdf" target="_blank">
              FRESH LICENSES / RENEWAL
            </a>
          </div>
          <div class="service-item">
            <a href="https://apdept.meeseva.gov.in/ImeeSeva2/Application%20Forms%20New/Police-pdf/Missing%20Or%20Loss%20Document%20Application.pdf" target="_blank">
              MISSING / LOST DOCUMENTS / ARTICLES
            </a>
          </div>
          <div class="service-item">
            <a href="https://apdept.meeseva.gov.in/ImeeSeva2/Application%20Forms%20New/Police-pdf/APPLICATION%20FOR%20ISSUANCE%20OF%20CERTIFICATE.pdf" target="_blank">
              ISSUANCE OF CERTIFICATES
            </a>
          </div>
          <div class="service-item">
            <a href="https://apdept.meeseva.gov.in/ImeeSeva2/Application%20Forms%20New/Police-pdf/Permission%20For%20Event%20Bandhobust%20Application.pdf" target="_blank">
              PERMISSION FOR EVENT BANDHOBUST
            </a>
          </div>
        </div>
    </div>
  </div>

  <div class="emergency-block">
    <h1>EMERGENCY NUMBERS</h1>
    <div class="table">
      <div class="row" *ngFor="let number of emergencyNumbers; let i = index" [ngClass]="{'odd': i % 2 === 0}">
        <div class="cell">{{number.id}}</div>
        <div class="cell">{{ number.name }}</div>
        <div class="cell">{{ number.phone }}</div>
      </div>
    </div>
  </div>
  
  
</div>
