.footer {
  padding: 15px 0;
  background-color: #000000; /* Matches navbar color */
  color: #ddd;
  font-size: 0.9rem;
}

.container.text-center {
  text-align: center;
}

mat-divider {
  border-top-color: rgba(95, 87, 87, 0.5); /* Change to your desired color */
}

.row {
  /* padding-left: 10%; */
  padding-right: 10%;
}

.main{
  box-shadow: 0px 3px 6px #00000029;
}



/* Set navbar background color #155384  */
.navbar {
  background: #155384 !important;   
  border-bottom: 4px solid #2BB9A2;
}

.navbar-nav {
  font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding-left: 15px !important;
    padding-right: 25px !important;

}
/* Change background color to red when hovering over nav links */
.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #2BB9A2 !important;
  color: var(--white) !important;
}

/* Change background color to red when the dropdown is open */
.navbar-dark .navbar-nav .nav-item.dropdown.open .nav-link {
  background-color: #2BB9A2 !important;  /* Red background when dropdown is open */
  color: var(--white) !important;  /* Keep text color white */
}

/* Ensure navbar toggle button is styled */
.navbar-toggler {
  border: none;
}

.navbar-toggler .navbar-toggler-icon {
  color: var(--white);
}

/* Dropdown menu styling */
.dropdown-menu {
  background-color: #2BB9A2;
  color: var(--white);
  border: none;
  padding: 0;
}

.dropdown-item {
  color: var(--white);
  background-color: #cccccc;
}

/* Change the background color of dropdown items when hovered */
.dropdown-item:hover {
  background-color: var(--gray-dark);
  color: var(--yellow);
}


/* styles.css or app.component.css */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  display: block;
}

#scrollToTopBtn:hover {
  background-color: #555;
}

