<!-- <div class="newcontainer" >
    <div class="newcontainer3" >

      <div class="row">
        <div class="col-md-8">
          <div class="service-wrapper">
            <a href="/path-to-house-tax" target="_blank" class="service-item">
              <i class="fas fa-house-user"></i>
              <p>Property Tax</p>
            </a>
            <a href="/path-to-vacant-land-tax" target="_blank" class="service-item">
              <i class="fas fa-landmark"></i>
              <p>Land Tax (VLT)</p>
            </a>
            <a href="/path-to-water-connection" target="_blank" class="service-item">
              <i class="fas fa-water"></i>
              <p>Water Charges</p>
            </a>
            <a href="/path-to-trade-license" target="_blank" class="service-item">
              <i class="fas fa-briefcase"></i>
              <p>Application for Water</p>
            </a>
            <a href="/path-to-trade-license-renewal" target="_blank" class="service-item">
              <i class="fas fa-redo-alt"></i>
              <p>Trade Licenses</p>
            </a>
            <a href="/path-to-signage-license" target="_blank" class="service-item">
              <i class="fas fa-ad"></i>
              <p>Advertisement Tax</p>
            </a>
            <a href="/path-to-mobile-towers" target="_blank" class="service-item">
              <i class="fas fa-broadcast-tower"></i>
              <p>Online Building/Layout Permission</p>
            </a>
            <a href="/path-to-mutations" target="_blank" class="service-item">
              <i class="fas fa-exchange-alt"></i>
              <p>Marriage Registrations</p>
            </a>
            <a href="/path-to-building-permissions" target="_blank" class="service-item">
              <i class="fas fa-building"></i>
              <p>Sewerage Connection</p>
            </a>
            <a href="/path-to-road-cutting" target="_blank" class="service-item">
              <i class="fas fa-road"></i>
              <p>Tree Felling Permission</p>
            </a>
            <a href="/path-to-grievances" target="_blank" class="service-item">
              <i class="fas fa-comments"></i>
              <p>Right Of Way Permission</p>
            </a>
            <a href="/path-to-unified-birth-and-death" target="_blank" class="service-item">
              <i class="fas fa-baby"></i>
              <p>Birth & Death Registrations</p>
            </a>
          </div>
          
        </div>
  
        <div class="col-md-4">
          <div class="widget-box2">
            <h2 class="title2">Citizen <span>Corner</span></h2>
            <ul class="widget-list">
                <li>
                    <i class="fa fa-user bg1"></i> <a href="#" data-toggle="dropdown" aria-expanded="false"> Citizen Charter </a><span class="caret"></span>
                    <ul class="dropdown-menu" style="background-color:white" role="menu">
                        <li><a title="English" target="_blank" href="/Files/CitizenServices/CS_English.pdf">English</a></li>
                        <li><a title="తెలుగు" target="_blank" href="/Files/CitizenServices/CS_telugu.pdf">తెలుగు</a></li>
                        <li><a title="اردو" target="_blank" href="/Files/CitizenServices/CS_Urdu.pdf">اردو</a></li>
                    </ul>
                </li>
                <li>
                    <i class="fa fa-map-marker bg1"></i> <a href="https://egovindia.in/pattanapragathi/statemap/" target="_blank"> Municipalities (Locations) </a>
                </li>
                <li>
                    <i class="fa fa-sitemap bg2"></i> <a href="/etistmvcdfwefrzxczx/vcvcvcvcv" target="_blank"> District/ULB Portals </a>
                </li>
                <li>
                    <i class="fa fa-home bg3"></i> <a href="/etistmvcdfwefrzxczx/bcvbcvbcvb" target="_blank"> Tenders/EOI </a>
                </li>
                <li>
                    <i class="fa fa-calendar bg1"></i> <a href="https://telangana.gov.in/downloads/calendar/" target="_blank"> Telangana Holidays List </a>
                </li>
            </ul>
        </div>

        <div class="widget-box2">
          <h2 class="title2">Citizen <span>Corner</span></h2>
          <ul class="widget-list">
              <li>
                  <i class="fa fa-user bg1"></i> <a href="#" data-toggle="dropdown" aria-expanded="false"> Citizen Charter </a><span class="caret"></span>
                  <ul class="dropdown-menu" style="background-color:white" role="menu">
                      <li><a title="English" target="_blank" href="/Files/CitizenServices/CS_English.pdf">English</a></li>
                      <li><a title="తెలుగు" target="_blank" href="/Files/CitizenServices/CS_telugu.pdf">తెలుగు</a></li>
                      <li><a title="اردو" target="_blank" href="/Files/CitizenServices/CS_Urdu.pdf">اردو</a></li>
                  </ul>
              </li>
              <li>
                  <i class="fa fa-map-marker bg1"></i> <a href="https://egovindia.in/pattanapragathi/statemap/" target="_blank"> Municipalities (Locations) </a>
              </li>
              <li>
                  <i class="fa fa-sitemap bg2"></i> <a href="/etistmvcdfwefrzxczx/vcvcvcvcv" target="_blank"> District/ULB Portals </a>
              </li>
              <li>
                  <i class="fa fa-home bg3"></i> <a href="/etistmvcdfwefrzxczx/bcvbcvbcvb" target="_blank"> Tenders/EOI </a>
              </li>
              <li>
                  <i class="fa fa-calendar bg1"></i> <a href="https://telangana.gov.in/downloads/calendar/" target="_blank"> Telangana Holidays List </a>
              </li>
          </ul>
      </div>
        
        </div>
      </div>
      
    </div>
  </div> -->


  